@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    box-sizing: border-box;
}

.bg-image > img {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: black;
    z-index: -1;
    opacity: 0.7;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background-color: transparent;
}

.table {
    width: 100%;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,.5);
    border-spacing: 0px;
}

.table-header {
    display: flex;
    width: 100%;
    background: #000;
    padding: 18px 0;
    color: white;
}

.table-row {
    display: flex;
    width: 100%;
    padding: 18px 0;
}

    .table-row:nth-of-type(odd) {
        background: #CCCCCC;
    }
.table-row:nth-of-type(even) {
    background: #eee;
}

.table-data, .header__item {
    flex: 1 1 20%;
    text-align: center;
}

.header__item {
    text-transform: uppercase;
}
 