@model string

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add New Car</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="~/navbar.css" rel="stylesheet" />
    <link href="~/form.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="right-side">
            <div class="brand">
                <div>CAR RENTING SERVICE</div>
            </div>
        </div>

        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="/">Home</a>
            </div>

            <div class="nav-link-wrapper active-nav-link">
                <a href="/Home/AddNewSalon">Add</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/List">List</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/Statistics">Stats</a>
            </div>
        </div>
    </div>

    <div class="pricing-box-container">
        <div class="pricing-box text-center">
            <h1>ADD NEW CAR</h1>
            <form action="/Home/AddNewCar" method="post">
                <p>Make</p>
                <input type="text" name="Make" required class="input"/> <br />
                <p>Model</p>
                <input type="text" name="Model" required class="input"/> <br />
                <p>Model Year</p>
                <input type="number" name="ModelYear" min="1950" max="2021" required class="input"/> <br />
                <p>Body Type</p>
                <select name="BodyType" required class="input">
                    <option hidden disabled selected value> -- select an option -- </option>
                    <option value="Hatchback">Hatchback</option>
                    <option value="Sedan">Sedan</option>
                    <option value="Suv">SUV</option>
                    <option value="Coupe">Coupe</option>
                    <option value="Van">Van</option>
                    <option value="Wagon">Wagon</option>
                </select> <br />
                <p>Combined Fuel Economy</p>
                <input type="number" min="0" name="CombFuelEco" step="0.1" required class="input"/> <br />
                <p>Price Per Day</p>
                <input type="number" min="0" name="PricePerDay" required class="input"/> <br />

                <input type="hidden" name="Available" value="true" />
                <input type="hidden" name="SalonId" value="@Model" />

                <input type="submit" value="Add Car" class="btn-primary"/>
            </form>
        </div>
    </div>
</body>
</html>
