@model string

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add New Car</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="~/navbar.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="right-side">
            <div class="brand">
                <div>CAR RENTING SERVICE</div>
            </div>
        </div>

        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="/">Home</a>
            </div>

            <div class="nav-link-wrapper active-nav-link">
                <a href="/Home/Add">Add</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/List">List</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/Statistics">Stats</a>
            </div>
        </div>
    </div>

    <form action="/Home/AddNewCar" method="post">
        Make:
        <input type="text" name="Make" required/> <br />
        Model:
        <input type="text" name="Model" required/> <br />
        Model Year:
        <input type="number" name="ModelYear" max="2021" required/> <br />
        Body Type:
        <select name="BodyType" required>
            <option value="Hatchback">Hatchback</option>
            <option value="Sedan">Sedan</option>
            <option value="Suv">SUV</option>
            <option value="Coupe">Coupe</option>
            <option value="Van">Van</option>
            <option value="Wagon">Wagon</option>
        </select> <br />
        Combined Fuel Economy:
        <input type="number" name="CombFuelEco" step="0.1" required/> <br />
        Price Per Day:
        <input type="number" name="PricePerDay" required/> <br />

        <input type="hidden" name="Available" value="true" />
        <input type="hidden" name="SalonId" value="@Model" />

        <input type="submit" value="Add" />
    </form>
</body>
</html>
