@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewRenter</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="~/navbar.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="right-side">
            <div class="brand">
                <div>CAR RENTING SERVICE</div>
            </div>
        </div>

        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="/">Home</a>
            </div>

            <div class="nav-link-wrapper active-nav-link">
                <a href="/Home/Add">Add</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/List">List</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="#">Stats</a>
            </div>
        </div>
    </div>

    <form action="/Home/AddNewRenter" method="post">
        Name:
        <input type="text" name="Name" /> <br />
        Postal Code:
        <input type="text" name="PostalCode" /> <br />
        City:
        <input type="text" name="City" /> <br />
        Address:
        <input type="text" name="Address" /> <br />
        Email:
        <input type="email" name="Email" /> <br />
        Phone Number:
        <input type="text" name="PhoneNumber" /> <br />
        Rented Days:
        <input type="number" name="RentedDays" /> <br />

        <input type="hidden" name="CarId" value="@Model" />

        <input type="submit" value="Add" />
    </form>
</body>
</html>
