<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    @*<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">*@
    <link href="~/navbar.css" rel="stylesheet" />
    <link href="~/selectList.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="right-side">
            <div class="brand">
                <div>CAR RENTING SERVICE</div>
            </div>
        </div>

        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="/">Home</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/AddNewSalon">Add</a>
            </div>

            <div class="nav-link-wrapper active-nav-link">
                <a href="/Home/List">List</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/Statistics">Stats</a>
            </div>
        </div>
    </div>

    <h1 class="text-center">SELECT WHICH TABLE YOU WANT TO LIST</h1>

    <div class="pricing-box-container">

        <div class="pricing-box text-center pricing-box-bg-image-left">
            <button class="btn-primary" onclick="location.href='/Home/ListSalons';">List Salons</button>
        </div>

        <div class="pricing-box pricing-box-bg-image-middle text-center">
            <button class="btn-primary" onclick="location.href='/Home/ListCars';">List Cars</button>
        </div>

        <div class="pricing-box text-center pricing-box-bg-image-right">
            <button class="btn-primary" onclick="location.href='/Home/ListRenters';">List Renters</button>
        </div>
    </div>


</body>
</html>