@using Models
@model Stats

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Statistics</title>
    <link href="~/navbar.css" rel="stylesheet" />
    <link href="~/form.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="right-side">
            <div class="brand">
                <div>CAR RENTING SERVICE</div>
            </div>
        </div>

        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="/">Home</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/AddNewSalon">Add</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/List">List</a>
            </div>

            <div class="nav-link-wrapper active-nav-link">
                <a href="/Home/Statistics">Stats</a>
            </div>
        </div>
    </div>

    <div class="pricing-box-container">
        <div class="pricing-box text-center">
            <p>Average price of the cars in Budapest: </p> <br /> <span>@Model.AvgPriceOfCarsFromBudapest</span>

            <p>Addresses of all the Salons and the number of Cars they have:</p> <br />
            @foreach (var item in Model.CountedCars)
            {
                <span>@item.Address: @item.CountedCars</span>
                <br />
            }
            <br />
            <p>People who rented out Audis:</p> <br />
            @foreach (var item in Model.RentedAudis)
            {
                @item.Name
                <br />
            }
        </div>
    </div>
</body>
</html>
